In [2]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import warnings
#env
import os
from dotenv import load_dotenv
warnings.filterwarnings('ignore')

## Extraccion

In [3]:
load_dotenv()  # Carga las variables del .env
db_url = os.getenv("DATABASE_URL")  # Obtiene la URL de la base de datos desde el .env
engine = create_engine(db_url)  # Crea el motor de conexión
connection = engine.connect()  # Abre la conexión

Tenemos que realizar 5 dimensiones
1. Categoria
2. Clientes
3. Producto
4. Proveedor
5. Tiempo

y una tabla de hechos

In [ ]:
#Extraccion de las tablas de la base de datos
df_categoria = pd.read_sql_query("SELECT * FROM categories", engine)
df_clientes = pd.read_sql_query("SELECT * FROM customers", engine)
df_productos = pd.read_sql_query("SELECT * FROM products", engine)
df_proveedores = pd.read_sql_query("SELECT * FROM suppliers", engine)

Recordar que Mientras que los hechos responden a preguntas como ¿cuánto?

las dimensiones responden a preguntas como ¿quién?, ¿qué?, ¿dónde?, ¿cuándo?, ¿cómo?.

Tambien que NUNCA se tocan los datos crudos, debe de hacerse una copia la cual se debe de modificar

Dependiendo de la situacion evitar los datos nulos o duplicados

# Dimension Categorias

In [5]:
#tabla de categorias contiene los siguientes campos
# category_name, description , picture ,category_id (PK)
#Solo quiero extraer category_name, description y category_id
dim_categoria = df_categoria[['category_id', 'category_name', 'description']].copy()
dim_categoria

,category_id,category_name,description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

# Dimension Clientes

In [ ]:
#tabla de clientes contiene los siguientes campos
#company_name, contact_name, contact_title, address, city, region, postal_code, country, phone, fax, customer_id (PK)
#solo quiero extraer customer_id, company_name,contact_name, city, region
#Quiero obtener los datos unicos de la tabla de clientes
df_clientes_clean = df_clientes.copy()
df_clientes_clean = df_clientes_clean.drop_duplicates(subset=['customer_id', 'company_name', 'contact_name', 'city', 'region'])
# Quiero crear la dimensión clientes con solo los campos necesarios
dim_clientes = df_clientes_clean[['customer_id', 'company_name', 'contact_name', 'city', 'region']].copy()
dim_clientes

,customer_id,company_name,contact_name,city,region
0,ALFKI,Alfreds Futterkiste,Maria Anders,Berlin,None
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,México D.F.,None
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,México D.F.,None
3,AROUT,Around the Horn,Thomas Hardy,London,None
4,BERGS,Berglunds snabbköp,Christina Berglund,Luleå,None
...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Oulu,None
87,WELLI,Wellington Importadora,Paula Parente,Resende,SP
88,WHITC,White Clover Markets,Karl Jablonski,Seattle,WA
89,WILMK,Wilman Kala,Matti Karttunen,Helsinki,None
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Warszawa,None

# Dimension Producto